@font-face {
  font-family: "iconfont"; /* Project id 4036647 */
  src: url('iconfont.woff2?t=1683197505388') format('woff2'),
       url('iconfont.woff?t=1683197505388') format('woff'),
       url('iconfont.ttf?t=1683197505388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e66f";
}

.icon-M_wenjianxiazai:before {
  content: "\e757";
}

.icon-liucheng:before {
  content: "\e658";
}

.icon-liucheng1:before {
  content: "\e60c";
}

.icon-xueshengkaohe:before {
  content: "\e62d";
}

.icon-navicon-qgsq:before {
  content: "\e650";
}

.icon-fabu:before {
  content: "\e711";
}

.icon-wodexuesheng:before {
  content: "\e67d";
}

.icon-gonggao:before {
  content: "\e613";
}

.icon-shenqing:before {
  content: "\e60a";
}

.icon-shenqing1:before {
  content: "\e636";
}

.icon-liuchengguanli:before {
  content: "\e6d4";
}

.icon-jurassic_process:before {
  content: "\e6c4";
}

.icon-icon_xueshengzonghebaobiao:before {
  content: "\e61e";
}

.icon-shuben:before {
  content: "\e603";
}

.icon-course:before {
  content: "\e698";
}

.icon-settings:before {
  content: "\e699";
}

.icon-home:before {
  content: "\e69b";
}

.icon-favoriteslist:before {
  content: "\e69c";
}

.icon-loop:before {
  content: "\e69d";
}

.icon-shouye:before {
  content: "\e61d";
}

.icon-custom:before {
  content: "\e6e7";
}

.icon-getout:before {
  content: "\e6ea";
}

.icon-hot:before {
  content: "\e6eb";
}

.icon-menu:before {
  content: "\e6ec";
}

